In [1]:
import pandas as pd

In [43]:
window_data = pd.read_csv("Ventanas.csv")
window_data.head(10)

,ID,Serie_ct,V_abdomen,Unnamed: 3,V_higado*,Unnamed: 5,V_bazo*,Unnamed: 7,V_Riñones,Unnamed: 9,V_pancreas,Unnamed: 11,V_estomago,Unnamed: 13,fx cadera,Unnamed: 15
0,NaN,NaN,WL,WW,WL,WW,WL,WW,WL,WW,WL,WW,WL,WW,WL,WW
1,10249.0,venoso,107,557,124,139,107,557,137,670,NaN,NaN,NaN,NaN,458,2835
2,10249.0,arterial,100,527,100,527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10917.0,arterial,57,409,71,157,57,409,89,423,NaN,NaN,105,3122,NaN,NaN
4,10917.0,venoso,158,693,131,298,148,288,158,693,NaN,NaN,NaN,NaN,NaN,NaN
5,17185.0,arterial,58,434,NaN,NaN,NaN,NaN,58,434,58,434,NaN,NaN,NaN,NaN
6,17185.0,venoso,135,578,106,206,135,578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,26598.0,venoso,144,528,173,225,144,298,204,417,202,495,NaN,NaN,NaN,NaN
8,30204.0,arterial,50,400,NaN,NaN,NaN,NaN,99,150,95,411,NaN,NaN,NaN,NaN
9,30204.0,venoso,50,400,57,152,88,183,106,306,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
window_data.columns = ['ID', 'Serie_ct', 'V_abdomen WL', 'V_abdomen WW', 'V_higado WL', 'V_higado WW',
       'V_bazo WL', 'V_bazo WW', 'V_Riñones WL', 'V_Riñones WW', 'V_pancreas WL',
       'V_pancreas WW', 'V_estomago WL', 'V_estomago WW', 'fx cadera WL',
       'fx cadera WW']

In [45]:
window_data.drop(0, inplace=True)

In [46]:
window_data.reset_index(drop=True, inplace=True)

In [47]:
window_data

,ID,Serie_ct,V_abdomen WL,V_abdomen WW,V_higado WL,V_higado WW,V_bazo WL,V_bazo WW,V_Riñones WL,V_Riñones WW,V_pancreas WL,V_pancreas WW,V_estomago WL,V_estomago WW,fx cadera WL,fx cadera WW
0,10249.0,venoso,107,557,124,139,107,557,137,670,NaN,NaN,NaN,NaN,458,2835
1,10249.0,arterial,100,527,100,527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10917.0,arterial,57,409,71,157,57,409,89,423,NaN,NaN,105,3122,NaN,NaN
3,10917.0,venoso,158,693,131,298,148,288,158,693,NaN,NaN,NaN,NaN,NaN,NaN
4,17185.0,arterial,58,434,NaN,NaN,NaN,NaN,58,434,58,434,NaN,NaN,NaN,NaN
5,17185.0,venoso,135,578,106,206,135,578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,26598.0,venoso,144,528,173,225,144,298,204,417,202,495,NaN,NaN,NaN,NaN
7,30204.0,arterial,50,400,NaN,NaN,NaN,NaN,99,150,95,411,NaN,NaN,NaN,NaN
8,30204.0,venoso,50,400,57,152,88,183,106,306,NaN,NaN,NaN,NaN,NaN,NaN
9,53620.0,arterial,63,440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,17978.0,venoso,188,821,178,359,188,821,282,547,NaN,NaN,NaN,NaN,NaN,NaN
11,55888.0,arterial,112,538,99,216,112,538,138,506,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
window_data.to_csv("Windows_cleaned")